.ImageCard-img {
  width: 25.3rem;
  height: 18.4rem;
  /* background-attachment: fixed; */
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 640px) {
  .ImageCard-img {
    width: 30rem;
    height: 23rem;
  }
}

@media screen and (min-width: 960px) and (min-height: 640px) {
  .ImageCard-img {
    width: 32rem;
    height: 20rem;
  }
}